<div class=box>
  <div class='pic'><%= image_tag '/images/Andrew-desk.jpg', :width => 255 %></div>
  <div class='pic'><%= image_tag '/images/Andrew-face.jpg', :width => 255 %></div>
  <p>Andrew Faraday (anywhere between 16 and 58) is a technical wizard, a sound geek and is generally found wherever odd noises are being made, as he's usually the one making them. As commander-in-chief of Marmites Junction and Files, it's his responsibility to ensure the show is at all times carried out in a professional and expedient manner. Or is at the very least spoken in English, not any one of the made-up languages that seem to proliferate the show.</p>
<p>Some say his <a href='/jam'>Marmite Jams</a> are like a cross between having your hair tousled by a favourite relative and being violently assaulted by someone wielding a glockenspiel. He's rarely seen without his trusty beard, a piece of facial furniture he's believed to have acquired after defeating a grizzly bear in hand-to-hand combat.</p>
</div>
<div class=box>
  <h3>Addendum</h3>
  <p>If you want to find out more about the technical wizardry of Andrew Faraday feel free to pop over to his <a href="http://www.andrewfaraday.com" target='_blank'>website</a>, featuring the legendary <a href='http://www.andrewfaraday.com/faketionary' target='_blank'>faketionary</a>.</p>
</div>
