<div class='box'>
  <p>A panel show in the grand tradition of I’m Sorry, I Haven’t A Clue, Just A Minute, etc, the emphasis on nonsensical, flippant and downright barmy replies to equally nonsensical, flippant and downright barmy questions. Believed to have been derived from Marmite Junction sometime around early 2011. The same basic recipe as Marmite Junction can be used, although ingredients must be adjusted for 5 people instead of 2.</p>
</div>
<% @embeds.each do |e|%>
  <div class='box'>
    <%= raw e.code %>
  </div>
<% end %>
<div class='box'>
  <p><b>Coming soon!</b> The <i>SECRET</i> history of The Marmite Files.</p>
</div>
