<div class=box>
  <h4>What is Marmite Jam?</h4>
  <p>Simply make yourself some toast, cover with butter or your low-fat spread of choice, then lashings of marmite and fruit preserves.</p>
  <span class=tiny>Please note: The previous paragraph is wrong, I have never attempted such a combination and would not recommend doing so. If you do attempt combining these things, please feel free to share your experience with the marmite junction team.</span>
  <p>Marmite Jams started at the beginning of 2011 at Fuel Cafe Bar in Withington. They're basically a great informal jam where muso's of any style who feel like popping down can make some music together, have a few laughs and generally have a good time.</p>
  <!--<h4>Next Jam:</h4>
  <p>Sunday the 10th of July, from 4PM.</p>-->
</div>
<div class=box>
  <h4>Coming soon...</h4>
  <p>Pictures, stories and even recordings from Marmite Jam. Watch this space.</p>
</div>
