<div class=box>
<h1>New Marmite Junction embed</h1>

<p>This is for the embed codes for episodes/podcasts of <b>Marmite Junction</b>.</p>

<%= render 'form' %>

<%= link_to 'Back', junction_embeds_path %>
</div>
