<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @junction_embed.code %>
</p>


<%= link_to 'Edit', edit_junction_embed_path(@junction_embed) %> |
<%= link_to 'Back', junction_embeds_path %>
