<div class=box>
  <h1>New Marmite Files Embed</h1>

  <p>The embed code (Click share on Soundcloud, then copy the embed code) for an episode of <b>THE MARMITE FILES</b></p>

  <%= render 'form' %>

  <%= link_to 'Back', files_embeds_path %>
</div>
